

<div class="card-group" >
        <div class="card" *ngFor="let album of albums " >
        
          <img [src]="album.coverPhoto" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Photo Description</h5>
            <p class="card-text">{{album.description}}</p>
            <input type="button" value="openAlbum" (click)="intoAlbum(album)"> 
          </div>
          <div class="card-footer">
            <small class="text-muted">DateTime: {{album.timeOfCreation}} </small><br>
            <p >{{album.likesCount}}</p>
            <input type="button" value="likes" (click)="addLikes(album)"> 
          </div>
        </div>

        
      </div>