<br>
<br><br>

<div class="form-group">
    <label > Username </label>
    <input type="text" #username class="form-control">
   </div>
<div class="form-group">
    <label>Password</label>  
    <input type="password" #password class="form-control">
   </div>
<button type="submit" class="btn btn-primary" 
 (click)="checkin(username.value,password.value)"> Login </button>
 
   <button type="submit" class="btn btn-success"  [routerLink]="['/signup']">
    Signup</button>


    
  <div *ngIf="successMessage"> {{successMessage}}</div>
  <div *ngIf="errorMessage"> {{errorMessage}}</div>
  
<!-- 
    <nav
    class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">My Photos</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/find">Find
                    Photos <span class="sr-only">(current)</span>
            </a></li>
            <li class="nav-item active"><a class="nav-link" href="/users">Users</a></li>
            <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item active" sec:authorize="isAuthenticated()"><a
                class="nav-link" href="javascript:$('#logoutForm').submit();">Logout</a></li>
            <li class="nav-item active"><a class="nav-link"
                href="/register">Register</a></li>
        </ul>

    </div>
</nav> -->