<button type="button" (click)="photoFormBool=false" >Add Photos</button>
<div class="card-group" *ngIf="photoFormBool">
        <div class="card" *ngFor="let p of photos" >
        
          <img [src]="album.coverPhoto" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Photo Description</h5>
            <p class="card-text">{{p.description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">DateTime: {{p.timeOfCreation}} </small><br>
           <br>
            <input type="button" value="likes" (click)="addLike(p)"> 
            <p >{{p.likesCount}}</p>
          </div>
        </div>
</div>

<div class="container" *ngIf="!photoFormBool">
        <h1>Add New Photo</h1>
        <form [formGroup]="photoForm" (ngSubmit)="uploadPhoto()">
    
                <div class="form-group">
                        <label>Photo</label>
                        <input type="file" class="form-control" (change)="onUpload($event)">
                      </div>
            <div class="form-group">
                <label>Description</label>
                <textarea cols="30" rows="10" class="form-control" formControlName="description"></textarea>
            </div>
          <button type="submit">Submit</button>
        </form>
      <br/>
      </div>