
<button type="button" (click)="editalbum=true" [routerLink]="['/home','album','albumform']">Add Album</button>

<div class="container">
        <router-outlet></router-outlet>
    </div>
  
<!-- 
<div class="card-deck" *ngFor="let image of images">
        <div class="card bg-primary">
            <div class="card-body text-center">
                <p class="card-text">Content of the first card</p>
            </div>
        </div>
        <div class="card bg-info">
            <div class="card-body text-center">
                <p class="card-text">Content of the second card</p>
            </div>
        </div>
        <div class="card bg-success">
            <div class="card-body text-center">
                <p class="card-text">Content of the third card</p>
            </div>
        </div>
        <div class="card bg-warning">
            <div class="card-body text-center">
                <p class="card-text">Content of the fourth card</p>
            </div>
        </div> 
    </div> -->


   